@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    /* font-family:'Work Sans', sans-serif; */
}

/*--------------- header css styles------------ */
:root {
    --Dark1: #000000;
    --Dark2: #424242;
    --Btn:#FF900E;
    --Dark03:#727272;
    --Dark04:#A1A1A1;
    --Dark05:#D0D0D0;
    --white:#FFFFFF;
  }

.navbar{
    background-color: white;
    height: 74px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}.navbar .logo{
    padding:0  40px;
    font-size: 28px;   
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    
    
    
}
.navItem{
    display: flex;
    align-items: center;
    padding:0  40px;

}
.navItem li{
    list-style: none;
    margin-right: 30px;
}
.navItem li a{
    text-decoration: none;
    color:var(--Dark2) ;
    text-transform: capitalize;
    font-size: 16px;
}
.navItem li a:hover{
    color: #FF900E;
}

/* about section css style */

.about{
    background-color: rgba(255, 144, 14, 0.1);
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 225px;
    width: 660px;
    margin-bottom: 50px;
    
}
.about-content .about-title{
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
    font-family:'Work Sans', sans-serif;
    text-transform: capitalize;
    padding-top: 20px;

}
.about-content .about-desc{
    color: var(--Dark03);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 10px;
}
.about-content .btn{
    background-color: var(--Btn);
    width: 180px;
    padding: 15px 0;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 24px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    color: var(--white);

   
}
.about-img img{
    width: 1100px;
    height: 600px;
    object-fit: cover;
    margin-top: 50px;
    border-radius: 20px;
}


/* feature box css */

.feature{
    background-color: var(--white);
    width: 100%;
    height: 900px;
  
   
    
}
.feature-body{
 display: flex;
 justify-content: space-around;
 align-items: center; 
 width: 1100px;
 height: 800px;
 padding-top: 40px;

 margin: auto;


 
}
.feature-body .img-feature{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
   
    
    
}
.feature-body .feature-content{
    height: 310px;
    width:540px;
   
}
.img-feature .image{
    height: 342px;
    width: 342px;
}
.feature-content {
    padding: 10px;
    margin-left: 40px;
}
.feature-content .feature-title{
    text-transform: capitalize;
    color: var(--Dark03);
    font-weight: 500;
    font-size: 40px;   
    font-family:'Work Sans', sans-serif;
}
.feature-title .lasttext{
    color: var(--Btn);
    line-height: 50px;
    font-weight: 700;
    font-size: 40px;
}
.feature-title .our{
    
    color: black;
    line-height: 50px;
    font-weight: 700;
    font-size: 40px;
}
.feature-content .feature-desc{
    font-family:'Work Sans';
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    color: #727272;

}
.feature-content .btn{
    background-color:var(--Btn);
    height: 54px;
    width: 190px;
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    color: var(--Dark05);
    text-transform: capitalize;
}


/* experience section start on css */

.experience{ 
    width: 1200px;
    height: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
.experience-content .experience-title{
    font-weight: 700;
    font-family:'Work Sans', sans-serif;
    text-transform: capitalize;
    font-size: 40px;
    width: 468px;
    height: 90px;
    padding: 20px;
   border-left: 3px solid var(--Btn);

}
.experience-content .experience-desc{
    width: 400px;
    height: 70px;
    color: #727272;
    padding: 15px;
}
.experience .image{
    width: 800px;
    height: 1050px;
}
 .experience .image img{
    width: 600px;
    height: 1050px;
    object-fit: cover;
   
}
.experience .image .BigBtn{
    background-color:var(--Btn) ;
    height: 110px;
    width: 170px;
    color: var(--white);
    font-size: 14px;
    margin-top: -50px;
    border: none;
    border-radius: 10px;

}
.image .BigBtn span{
    color: white;
    font-size: 30px;
    font-family:'Work Sans', sans-serif;


}
.experience-content .version{
    width: 400px;
    height: 130px;
    
    border-radius: 8px;
    background-color:  #e9e9e9;
    padding: 30px;
    margin: 30px 0px;

}
.version .artcle-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    font-family:'Work Sans', sans-serif;

}
.version .artcle-desc{
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}


/* facts styling start here */
.facts{
    width: 1100px;
    height: 350px;
    margin: 100px auto;
}
.facts .facts-title{
    font-family:'Work Sans', sans-serif;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: 700;
}
.facts .facts-desc{
    font-weight: 400;
    font-size: 16px;

    color: #727272;
    line-height: 26px;
    width: 542px;
    height: 52px;

}
.facts .some-facts{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.some-facts .facts-lists{
    margin: 0 30px;
}
.facts .facts-lists{
    height: 240px;
    width: 240px;
    border: 1px solid var(--Btn);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 35px;


}
.facts-lists .count{
    font-size: 45px;
    font-weight: 600;
    line-height: 50px;
    margin: 15px 0;
    color: #424242;
}
.facts-lists .facts-name{
    font-size: 16px;
    color: #424242;
    text-transform: capitalize;
}

/* sponspors style css */
.sponspors{
    width: 1100px;
    height: 250px;
    margin: auto;
}
.sponspors .sponspors-title{
    text-align: center;
    text-transform: capitalize;
    font-family:'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}
.sponspors .sponspors-para{
    color: #727272;
    text-align: center;
    font-size: 16px;

   
}
.sponspors .sponspors-lists{
    margin: 50px 0;
    height: 74px;
    width: 100%;    
    display: flex;
    justify-content: space-between;
}
.sponspors-lists .sponspors-name{ 
  filter: grayscale(100%);
    
}

/* footer section css */

footer{    
background:  #FFF4E7;
border-radius: 8px;
height: 74px;
width: 1100px;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
}
footer .footer-desc{
    color: #727272;
    font-size: 16px;
       
}



/* .navbar, .about, .feature,.sponspors{
    display: none;
} */









/*---------------- make the responsive for mobile screen-------------------------- */

@media screen and (max-width:576px) {
    .navbar{        
        flex-direction: column;       
        align-items: center;
        margin-bottom: 20px;
    }
    .navItem{
        flex-direction: column;
        align-items: center;             
    
    }.navItem li{
       margin-bottom: 20px;
    }.navbar .logo{
        margin-bottom: 20px;
    }
    .about{      
       margin-top: 200px;       
        
    }
    .about-content{       
        height: 225px;
        width: 380px;
        margin-bottom: 50px;
        
    }
    .about-img img{
        width: 100%;
        height: 350px;       
        margin-top: 180px;        
    }
    .about-content .about-desc{
        padding: 5px 5px;
    }
    .feature-body{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 15px;
        height:2000px;
       
    }
    .feature-body .feature-content{      
        width:300px;   
          
    }
    .feature-body .img-feature{
      
       grid-template-columns: repeat(1,1fr);      
        
    }
    .experience{        
        
        align-items: flex-start;
        flex-direction: column;
        margin-top: 1090px;
           
    }.experience-content .version{
        width:330px;
    }
    .experience-content .experience-desc{
        width: 350px;
        margin-left: 10px;
    }
    .experience .image img{
        width: 400px;
        height: 600px;
        object-fit: cover;
       
    }
    .experience .image{
        display: flex;
        flex-direction: column;
    }
    .experience-content .experience-title{
        width: 330px;
        margin-bottom: 30px;
    }
    .facts{
        margin-top: 767px;
        
    }
    .facts .facts-desc{
        width: 400px;
        margin: 0 10px;
    }
    .facts .some-facts{
       flex-direction: column;
       align-items: flex-start;
       margin-left: 30px;
       
    }
    .sponspors{
        margin-top: 850px;
        height: 950px;
    }
    .sponspors .sponspors-title{
        text-align: start;
        margin: 50px 0 0 20px;
        padding: 50px 0;
    }
    .sponspors .sponspors-para{
        align-items: start;
        height: 74px;
        width: 355px;
    }
    .sponspors .sponspors-lists{
        flex-direction: column;
        justify-content: space-between;
        margin: 80px 80px;
    }
    .sponspors-lists .sponspors-name{
        margin: 30px;
    }
    footer{    
       
        width: 380px;
        padding: 10px;
        
        }



    








}
@media screen and (min-width:577px) and (max-width:992px) {
    .navbar{        
        flex-direction: column;       
        align-items: center;
        margin-bottom: 20px;
    }
    .about-img img{
        width: 100%;
        height: 550px;       
        margin-top: 100px;        
    }
    .feature-body .img-feature{
      
        grid-template-columns: repeat(1,1fr);      
         
     }
     .feature-body{
        flex-direction: column;
        align-items: flex-start;     
        height:2000px;
       
    } .feature-body .feature-content{      
        width:300px;   
          
    }
    .experience{        
        
        align-items: flex-start;
        flex-direction: column;
           
    }.experience-content .version{
        width: 290px;
        margin-left: -9px;
    }
    .experience-content .experience-desc{
        width: 287px;
       
    }
    .experience .image img{
        width: 350px;
        height: 600px;
        object-fit: cover;
       
    }
    .experience .image{
        display: flex;
        flex-direction: column;
        margin-left: 70px;
        align-items: flex-start;
    }
    .experience-content .experience-title{
        width: 250px;
        margin-bottom: 30px;
        margin-left: 13px;
        
    }

    
    
}